.hero-unit
  %p
    Hello
    = current_customer.email
    let me tell you that:
  - if current_customer.active_subscription
    %h1 You are #{current_customer.active_subscription.plan.name}
  - else
    %h1 You could be better...
  %br
  %p 
    = link_to 'Change plan', subscriptions_path, class: 'btn btn-large btn-success'
  %br
  %p This is a Billingly example application.
  %p It provides the service of complimenting you gratuitously, for a fee.
  %p You can subscribe to any of the available plans and visit this page to receive compliments.

